NODE_ENV=development
APP_PORT=3001

MONGO_DB_URI=mongo_db:27017/api_app?authSource=api_app
MONGO_DB_USERNAME=root
MONGO_DB_PASSWORD=example

JAEGER_HOST=jaeger
JAEGER_SPAN_LOGGING=true

RABBITMQ_HOST=rabbitmq
RABBITMQ_PASSWORD=guest
RABBITMQ_USER=guest
RABBITMQ_VHOST=/

REDIS_HOST=redis-container
REDIS_PORT=6379


# db.createUser(
#    {
#       user: "appUser",
#       pwd: "securePassword",
#       roles: [ { role: "readWrite", db: "api_app" } ]
#    }
# )